<header class="container-fluid">

    <nav class="">
      <img src="../../../assets/Images/logo.jpg" alt="">
        <ul class="" *[ngClass]="{'hidden': !islabelVisible}">
            <li><a routerLink="" class="active">Home</a></li>
            <li><a routerLink="about">about</a></li>
            <li><a href="">gallery</a></li>
            <li><a href="">blog</a></li>
            <li><a href="">mission</a></li>
    
        </ul>
            <label for="check" class="checkbtn" (click)="toggleLabelVisibility()"><i class="fa fa-bars"></i></label>
    </nav>
</header>
